.w3-dropdown-content {
    left: 100%;
    top: 0;
}

.w3-sidebar {
    overflow: visible;
}

#leftMenu {
    width: 200px;
}

#mainContainer {
    margin-left: 200px;
}

.hide_column {
    display: none;
}