.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  -moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;outline: none !important;
}
input.form-control:focus + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
textarea.form-control:focus + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
select.form-control:focus + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
.form-control.chosen-select + .select2-container .select2-selection__choice:focus + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
.form-control.chosen-select + .select2-container .select2-selection--single:focus + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
input.form-control:hover + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
textarea.form-control:hover + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
select.form-control:hover + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
.form-control.chosen-select + .select2-container .select2-selection__choice:hover + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
.form-control.chosen-select + .select2-container .select2-selection--single:hover + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
input.form-control:focus + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
textarea.form-control:focus + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
select.form-control:focus + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
.form-control.chosen-select + .select2-container .select2-selection__choice:focus + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
.form-control.chosen-select + .select2-container .select2-selection--single:focus + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
input.form-control:hover + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
textarea.form-control:hover + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
select.form-control:hover + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
.form-control.chosen-select + .select2-container .select2-selection__choice:hover + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
.form-control.chosen-select + .select2-container .select2-selection--single:hover + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child {
  border-left: 1px solid #787878;
}
input.form-control.error:not(:hover) + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
textarea.form-control.error:not(:hover) + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
select.form-control.error:not(:hover) + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
.form-control.chosen-select + .select2-container .select2-selection__choice.error:not(:hover) + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
.form-control.chosen-select + .select2-container .select2-selection--single.error:not(:hover) + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
input.form-control.error:not(:hover) + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
textarea.form-control.error:not(:hover) + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
select.form-control.error:not(:hover) + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
.form-control.chosen-select + .select2-container .select2-selection__choice.error:not(:hover) + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child,
.form-control.chosen-select + .select2-container .select2-selection--single.error:not(:hover) + .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child {
  border-left: 1px solid #ce352c;
}
.vex.vex-theme-metro {
  padding-top: 160px;padding-bottom: 160px;
}
.vex.vex-theme-metro .vex-content {
  font-family: "Helvetica Neue", sans-serif;background: #fff;color: #444;padding: 1em;position: relative;margin: 0 auto;max-width: 100%;width:auto;font-size: 1.1em;line-height: 1.5em;
}
.vex.vex-theme-metro .vex-content h1,
.vex.vex-theme-metro .vex-content h2,
.vex.vex-theme-metro .vex-content h3,
.vex.vex-theme-metro .vex-content h4,
.vex.vex-theme-metro .vex-content h5,
.vex.vex-theme-metro .vex-content h6,
.vex.vex-theme-metro .vex-content p,
.vex.vex-theme-metro .vex-content ul,
.vex.vex-theme-metro .vex-content li {
  color: inherit;
}
.vex.vex-theme-metro .vex-close {
  position: absolute;top: 0;right: 0;cursor: pointer;
}
.vex.vex-theme-metro .vex-close:before {
  position: absolute;content: "\00D7";font-size: 26px;font-weight: normal;line-height: 31px;height: 30px;width: 30px;text-align: center;top: 3px;right: 3px;color: #bbb;background: transparent;
}
.vex.vex-theme-metro .vex-close:hover:before,
.vex.vex-theme-metro .vex-close:active:before {
  color: #777;background: #e0e0e0;
}
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-message {
  margin-bottom: 0.5em;
}
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input {
  margin-bottom: 1em;
}
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input textarea,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="date"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="datetime"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="datetime-local"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="email"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="month"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="number"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="password"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="search"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="tel"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="text"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="time"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="url"],
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="week"] {
  background: #f0f0f0;width: 100%;padding: 0.25em 0.67em;border: 0;font-family: inherit;font-weight: inherit;font-size: inherit;min-height: 2.5em;margin: 0 0 0.25em;
}
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input textarea:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="date"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="email"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="month"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="number"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="password"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="search"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="tel"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="text"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="time"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="url"]:focus,
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
  -moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);-webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);outline: none;
}
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-buttons {
  *zoom: 1;
}
.vex.vex-theme-metro .vex-dialog-form .vex-dialog-buttons:after {
  content: "";display: table;clear: both;
}
.vex.vex-theme-metro .vex-dialog-button {
  -moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;border: 0;float: right;margin: 0 0 0 0.5em;font-family: inherit;text-transform: uppercase;letter-spacing: 0.1em;font-size: 0.8em;line-height: 1em;padding: 0.75em 2em;
}
.vex.vex-theme-metro .vex-dialog-button.vex-last {
  margin-left: 0;
}
.vex.vex-theme-metro .vex-dialog-button:focus {
  animation: vex-pulse 1.1s infinite;-webkit-animation: vex-pulse 1.1s infinite;-moz-animation: vex-pulse 1.1s infinite;-ms-animation: vex-pulse 1.1s infinite;-o-animation: vex-pulse 1.1s infinite;-webkit-backface-visibility: hidden;outline: none;
}
@media (max-width: 568px) {
  .vex.vex-theme-metro .vex-dialog-button:focus {
    animation: none;-webkit-animation: none;-moz-animation: none;-ms-animation: none;-o-animation: none;-webkit-backface-visibility: hidden;
  }
}
.vex.vex-theme-metro .vex-dialog-button.vex-dialog-button-primary {
  background: #3288e6;color: #fff;
}
.vex.vex-theme-metro .vex-dialog-button.vex-dialog-button-secondary {
  background: #e0e0e0;color: #777;
}
.vex-loading-spinner.vex-theme-metro {
  height: 2.5em;width: 2.5em;
}
@media print {
  .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary > .caret,
  .dropup > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary > .caret,
  .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary > .caret,
  .dropup > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary > .caret {
    border-top-color: #000 !important;
  }
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.active:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active.focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.active.focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:active:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary.active:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary.focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:active.focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary.active.focus {
  outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:hover,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:hover,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary.focus {
  color: #333;text-decoration: none;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.active,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:active,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary.active {
  background-image: none;outline: 0;-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.disabled,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary[disabled],
fieldset[disabled] .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary.disabled,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary[disabled],
fieldset[disabled] .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  cursor: not-allowed;filter: alpha(opacity=65);-webkit-box-shadow: none;box-shadow: none;opacity: 0.65;
}
a.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.disabled,
fieldset[disabled] a.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
a.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary.disabled,
fieldset[disabled] a.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  pointer-events: none;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary {
  color: #fff;background-color: #337ab7;border-color: #2e6da4;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.focus {
  color: #fff;background-color: #286090;border-color: #122b40;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:hover {
  color: #fff;background-color: #286090;border-color: #204d74;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.active,
.open > .dropdown-toggle.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary {
  color: #fff;background-color: #286090;border-color: #204d74;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active:hover,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.active:hover,
.open > .dropdown-toggle.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:hover,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.active:focus,
.open > .dropdown-toggle.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active.focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.active.focus,
.open > .dropdown-toggle.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.focus {
  color: #fff;background-color: #204d74;border-color: #122b40;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.active,
.open > .dropdown-toggle.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary {
  background-image: none;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.disabled:hover,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary[disabled]:hover,
fieldset[disabled] .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:hover,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.disabled:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary[disabled]:focus,
fieldset[disabled] .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.disabled.focus,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary[disabled].focus,
fieldset[disabled] .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.focus {
  background-color: #337ab7;border-color: #2e6da4;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary .badge {
  color: #337ab7;background-color: #fff;
}
.btn-group-lg > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-lg > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 6px;
}
.btn-group-sm > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-sm > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  padding: 5px 10px;font-size: 12px;line-height: 1.5;border-radius: 3px;
}
.btn-group-xs > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-xs > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  padding: 1px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;
}
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  position: relative;float: left;
}
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:hover,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:hover,
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:focus,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:focus,
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active,
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.active,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary.active,
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:hover,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:hover,
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:focus,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:focus,
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:active,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:active,
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary.active,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary.active {
  z-index: 2;
}
.btn-group .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary + .btn-group,
.btn-group .btn-group + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary,
.btn-group .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary + .btn-group,
.btn-group .btn-group + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  margin-left: -1px;
}
.btn-toolbar .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-toolbar .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  float: left;
}
.btn-toolbar > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-toolbar > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  margin-left: 5px;
}
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child {
  margin-left: 0;
}
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;border-bottom-right-radius: 0;
}
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:last-child:not(:first-child),
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:last-child:not(:first-child) {
  border-top-left-radius: 0;border-bottom-left-radius: 0;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group > .btn-group:not(:first-child):not(:last-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:last-child {
  border-top-right-radius: 0;border-bottom-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
.btn-group > .btn-group:last-child:not(:first-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child {
  border-top-left-radius: 0;border-bottom-left-radius: 0;
}
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary + .dropdown-toggle,
.btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary + .dropdown-toggle {
  padding-right: 8px;padding-left: 8px;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary .caret,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary .caret {
  margin-left: 0;
}
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-vertical > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary,
.btn-group-vertical > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  display: block;float: none;width: 100%;max-width: 100%;
}
.btn-group-vertical > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-vertical > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  float: none;
}
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary + .btn-group,
.btn-group-vertical > .btn-group + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary,
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary + .btn-group,
.btn-group-vertical > .btn-group + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  margin-top: -1px;margin-left: 0;
}
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:not(:first-child):not(:last-child),
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child:not(:last-child),
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child:not(:last-child) {
  border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;
}
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:last-child:not(:first-child),
.btn-group-vertical > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:last-child:not(:first-child) {
  border-top-left-radius: 0;border-top-right-radius: 0;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;
}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  border-radius: 0;
}
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:last-child {
  border-bottom-right-radius: 0;border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:first-child,
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:first-child {
  border-top-left-radius: 0;border-top-right-radius: 0;
}
.btn-group-justified > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-justified > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  display: table-cell;float: none;width: 1%;
}
.btn-group-justified > .btn-group .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.btn-group-justified > .btn-group .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  width: 100%;
}
[data-toggle="buttons"] > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary input[type="radio"],
[data-toggle="buttons"] > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary input[type="radio"],
[data-toggle="buttons"] > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary input[type="checkbox"],
[data-toggle="buttons"] > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary input[type="radio"],
[data-toggle="buttons"] > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary input[type="radio"],
[data-toggle="buttons"] > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary input[type="checkbox"] {
  position: absolute;clip: rect(0, 0, 0, 0);pointer-events: none;
}
.input-group-lg > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-lg > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  height: 46px;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 6px;
}
select.input-group-lg > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
select.input-group-lg > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  height: 46px;line-height: 46px;
}
textarea.input-group-lg > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
select[multiple].input-group-lg > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
textarea.input-group-lg > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary,
select[multiple].input-group-lg > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  height: auto;
}
.input-group-sm > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-sm > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  height: 30px;padding: 5px 10px;font-size: 12px;line-height: 1.5;border-radius: 3px;
}
select.input-group-sm > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
select.input-group-sm > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  height: 30px;line-height: 30px;
}
textarea.input-group-sm > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
select[multiple].input-group-sm > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
textarea.input-group-sm > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary,
select[multiple].input-group-sm > .input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  height: auto;
}
.input-group-btn:first-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-btn:first-child > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-btn:last-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-btn:first-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary,
.input-group-btn:first-child > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary,
.input-group-btn:last-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  border-top-right-radius: 0;border-bottom-right-radius: 0;
}
.input-group-btn:last-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-btn:last-child > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-btn:first-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-btn:last-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary,
.input-group-btn:last-child > .btn-group > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary,
.input-group-btn:first-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  border-top-left-radius: 0;border-bottom-left-radius: 0;
}
.input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  position: relative;
}
.input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  margin-left: -1px;
}
.input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:hover,
.input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:focus,
.input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary:active,
.input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:hover,
.input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:focus,
.input-group-btn > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary:active {
  z-index: 2;
}
.input-group-btn:first-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-btn:first-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  margin-right: -1px;
}
.input-group-btn:last-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.input-group-btn:last-child > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  z-index: 2;margin-left: -1px;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary .label,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary .label {
  position: relative;top: -1px;
}
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary .badge,
.vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary .badge {
  position: relative;top: -1px;
}
.btn-group-xs > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary .badge,
.btn-group-xs > .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary .badge {
  top: 0;padding: 1px 5px;
}
.modal-footer .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.modal-footer .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  margin-bottom: 0;margin-left: 5px;
}
.modal-footer .btn-group .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.modal-footer .btn-group .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary + .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  margin-left: -1px;
}
.carousel-caption .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-primary,
.carousel-caption .vex-theme-metro.vex .vex-dialog-button.vex-dialog-button-secondary {
  text-shadow: none;
}
.vex-theme-metro.vex {
  text-align: center;
  padding-top: 200px;
}
.vex-theme-metro.vex .vex-content {
  font-family: "Siemens Sans", Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: left;
  -webkit-animation: vex-fadein 0.1s;
  animation: vex-fadein 0.1s;
}
.vex-theme-metro.vex .vex-content.rcms-vex-dialog {
  width: auto;
}
.vex-theme-metro.vex .vex-overlay {
  -webkit-animation: vex-fadein 0.1s;
  animation: vex-fadein 0.1s;
}
.vex-theme-metro.vex.vex-closing .vex-content {
  -webkit-animation: vex-fadeout 0.1s;
  animation: vex-fadeout 0.1s;
}
.vex-theme-metro.vex.vex-closing .vex-overlay {
  -webkit-animation: vex-fadeout 0.1s;
  animation: vex-fadeout 0.1s;
}
.vex-theme-metro.vex .vex-dialog-button {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  outline: none !important;
}
.vex-loading-spinner.vex-theme-plain,
.vex-loading-spinner.vex-theme-metro {
  height: 2.5em;
  width: 2.5em;
}
.vex-dialog-message ul li {
  line-height: normal;
  word-wrap: break-word;
  word-break: break-word;
}
.vex-dialog-message + .vex-dialog-message {
  border-top: 1px solid #f0f0f0;
  padding-top: 10px;
  margin-top: 15px;
}