@model ErkoSMS.ViewModels.LeftMenuViewModel
<div class="w3-sidebar w3-light-grey w3-bar-block">
    <div style="padding:20px">
        @foreach (var nav in Model.Navigations)
        {
            @Html.ActionLink(nav.DisplayText, nav.Action, nav.Controller, new { area = "" }, htmlAttributes: new { @class = "w3-bar-item w3-button leftMenu", data_nav = nav.DisplayText })
        }
    </div>

    <script>
    $(document).ready(function () {
        $("[data-nav='@ViewBag.SelectedMenu']").addClass("w3-green");
    });

    </script>
