@model ErkoSMS.ViewModels.LeftMenuViewModel
<div class="w3-sidebar w3-light-grey w3-bar-block">
    <div style="padding:20px">
        @foreach (var nav in Model.Navigations)
        {
            var navLinkClass = ViewBag.SelectedMenu == nav.DisplayText ? "w3-bar-item w3-button leftMenu w3-green" : "w3-bar-item w3-button leftMenu";
            @Html.ActionLink(nav.DisplayText, nav.Action, nav.Controller, new { area = "" }, htmlAttributes: new { @class = navLinkClass, data_nav = nav.DisplayText })
        }
    </div>

</div>
