@{
    ViewBag.Title = "Paletler";
}

<h2>@ViewBag.Title</h2>
<hr/>
<p>
    <span class="btn btn-success" id="createPalletButton" data-erkosms-role="ajax-dialog-button" data-erkosms-targetaction="Pallet/CreatePallet">
        <span class="fa fa-user-plus"></span> Palet Ekle
    </span>
</p>

<div id="palletTableDiv" style="margin-top:20px">
    <table id="palletListTable" class="table table-bordered table-condensed table-hover table-responsive table-striped"></table>
</div>
<script>
    // Edit record
    $('#palletListTable').on('click', 'td.editPallet', function (e) {
        e.preventDefault();
        var rowToBeUpdated = $(this).closest('tr')[0];
        var palletId = rowToBeUpdated.cells[0].innerText;
        ERKOSMS.GetAjaxDialog("Pallet/EditPallet?palletId=" + palletId, {}, false).then(function () {
        }), function (data) {
            ERKOSMS.ShowWarning(data);
        }
    });


    $('#palletListTable').on('click', 'td.deletePallet', function (e) {
        e.preventDefault();
        var rowToBeDelleted = $(this).closest('tr')[0];
        var palletId = rowToBeDelleted.cells[0].innerText;
        vex.dialog.confirm({
            message: "Seçilen palet silinecektir. Emin misiniz? ",
            callback: function (result) {
                if (result) {
                    ERKOSMS.AjaxAction("Pallet/DeletePallet?palletId=" + palletId, {}, false).then(function () {
                        rowToBeDelleted.remove();
                    }), function (data) {
                        ERKOSMS.ShowWarning(data);
                    }
                }
            }
        });
    });

    var destroyTable = function () {
        var tb = $("#palletListTable");

        if ($.fn.dataTable.isDataTable(tb))
            tb.DataTable().destroy();

        tb.empty();
    };

    var getPallets = function () {
        destroyTable();
        var tb = $("#palletListTable");
        ERKOSMS.AjaxAction("Pallet/ListPallets", {
            type: 'GET'
        }).then(function (data) {
            var columns = [
                { title: "No", data: "Id" },
                { title: "Genişlik", data: "Width" },
                { title: "Yükseklik", data: "Height" },
                { title: "Derinlik", data: "Depth" },
                { title: "KG", data: "Weight" },
                { title: "Brüt KG", data: "GrossWeight" },
                { title: "Açıklama", data: "Description" },
                { title: "Desc.", data: "EnglishDescription" },
                {
                    data: null,
                    className: "dt-center editPallet",
                    defaultContent: '<span class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>Güncelle</span>',
                    orderable: false
                },
                {
                    data: null,
                    className: "dt-center deletePallet",
                    defaultContent: '<span class="btn btn-danger"><span class="glyphicon glyphicon-pencil"></span>Sil</span>',
                    orderable: false
                }
            ];

            var datatable = tb.DataTable({
                autoWidth: true,
                columns: columns,
                data: data,
                sDom: '<"top"lif<"clear">>rt<"bottom"ip<"clear">>',
                aaSorting: [], // Initial sorting
                bInfo: true, // Info is not shown because the total count to show is not known
                searching: true, // Disable searching TODO: Enable searching if necessary
                paging: true, // Disable paging in outstanding
                pageLength: 50,
                deferRender: true
            });
        });
    }

    getPallets();



</script>