<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ../SolutionItems/NLog.xsd"
			autoReload="true"
			throwExceptions="false"
            internalLogLevel="Error">
    <targets async="true" >

        <!--See https://github.com/nlog/NLog/wiki/Targets for possible targets.
				See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
		-->

        <target xsi:type="File" name="file"
						layout="[${longdate}] &#009; ${uppercase:${level}} &#009; [${threadid}] &#009; ${logger} &#009; ${message} &#009;
							${when:when=level == LogLevel.Error:inner=${newline}${exception:format=ToString,Data,StackTrace}:else=}"
			            keepFileOpen="false"
						archiveAboveSize="10485760"
						archiveEvery="Day"
						maxArchiveFiles="30"
						archiveNumbering="Sequence"
						fileName="${basedir}/logs/currentLog.log"
						archiveFileName="${basedir}/logs/archive/${shortdate}.{##}.log"
                        encoding="US-ASCII"/>

        <target xsi:type="NLogViewer" name="viewer" address="udp://127.0.0.1:47777"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="file"/>
        <logger name="*" writeTo="viewer"/>
    </rules>
</nlog>
