@using ErkoSMS.ViewModels
@using ErkoSMS.Enums
@using Microsoft.AspNet.Identity;
@model UserAdministrationViewModel
@{
    ViewBag.Title = "Kullanıcı Yönetimi";

}
<h2>@ViewBag.Title</h2>

<p>
    <span class="btn btn-success" id="createUserButton" data-erkosms-role="ajax-dialog-button" data-erkosms-targetaction="UserAdministration/CreateUser">
        <span class="fa fa-user-plus"></span> Kullanıcı Oluştur
    </span>
</p>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                <span>Kullanıcı Tipi</span>
            </th>
            <th>
                <span>Kullanıcı Adı</span>
            </th>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    <span>@UserTypes.GetDisplayName(user.UserType)</span>
                </td>
                <td>
                    <span>@user.UserName</span>
                </td>
                <td>

                    <span class="btn btn-warning" data-erkosms-role="ajax-dialog-button" data-erkosms-targetaction="UserAdministration/EditUser?username=@user.UserName">
                        <span class="glyphicon glyphicon-pencil"></span> Güncelle
                    </span>
                    @if (User.Identity.GetUserId() != user.Id)
                    {
                        <span class="btn btn-danger erkosms-user-deleteButton" data-confirmation-message="Kullanıcı silinecek. Emin misin ?" data-erkosms-role="ajax-confirmation" data-erkosms-targetaction="UserAdministration/DeleteUser?username=@user.UserName">
                            <span class="glyphicon glyphicon-minus"></span> Sil
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $(".erkosms-user-deleteButton").on("ajax-action:succeed", function (ev) {
        // Remove the row
        $(ev.target).closest("tr").remove();
    });
</script>
