body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#region Blocker */
.blocker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.3);
    z-index: 100000;
}

    .blocker.passive {
        display: none;
    }

    .blocker .blockerText {
        font-size: 26px;
        margin-top: 5px;
        color: white;
        text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
    }

    .blocker .blockerContainer {
        width: auto;
        height: auto;
        background-size: 100px;
        background-repeat: no-repeat;
        border: none;
        background-position: center;
        margin: auto;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .blocker .blocker-spin {
        border: none;
        margin: auto;
        position: relative;
        font-size: 100px;
    }

        .blocker .blocker-spin.passive {
            display: none;
        }
/*#endregion */

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

#orderStatusPieChartLegend {
    margin-top: 30px;
    text-align: center;
}

    #orderStatusPieChartLegend ul {
        list-style: none;
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

        #orderStatusPieChartLegend ul li {
            height: 24px;
            text-align: left;
            display: inline-block;
            overflow-wrap: break-word;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-left: 10px;
        }

            #orderStatusPieChartLegend ul li span {
                display: inline-block;
                height: 20px;
                width: 50px;
                vertical-align: middle;
                margin-right: 10px;
                border: 1px solid #777;
            }

.importProduct {
    display: block;
    width: 250px;
    position: relative;
    left: 934px;
    bottom: 398px;
}
