@using ErkoSMS.ViewModels

@{
    var pallets = (IList<PalletViewModel>)ViewBag.Pallets;
    var palletOptions = pallets.Select(x => new SelectListItem
    {
        Text = $"{x.Id} - Ölçüler: {x.Height}x{x.Width}x{x.Depth}",
        Value = x.Id.ToString()
    }).ToList();
}
<div class="row mt-20">
    <div class="form-group col-xs-12">
        <label>Palet:</label>
        @Html.DropDownList("palletDropdown", palletOptions, new { id = "palletDropdown", @class = "chosen-select form-control" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12">
        <label>Miktar:</label>
        @Html.TextBox("Quantity", "", new { @class = "chosen-select form-control" })
    </div>
</div>

<input type="button" class="btn btn-primary pull-right mt-20" id="addProductToPallet" value="Paketle" />

<script>
    $(document).ready(function () {
        $("#Quantity").off().on("change",
            function () {
                if ($(this)[0].value < 0) $(this)[0].value = 0;
                if ($(this)[0].value > maxQuantityToPack) $(this)[0].value = maxQuantityToPack;
            });
    });
</script>
