@using ErkoSMS.ViewModels
@{
    var order = (OrderViewModel)ViewBag.Order;
    var pallets = (IList<PalletViewModel>)ViewBag.Pallets;
}

<div class="row" style="width: 1400px;margin-top:25px">
    <div class="col-xs-6" id="productListDiv" style="border-right: 2px solid lightgray;">
        <h2>Ürünler</h2>
        <table id="productTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Ürün Kodu</th>
                    <th>Açıklama TR</th>
                    <th>Toplam Miktar</th>
                    <th>Paketlenmemiş Miktar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in order.OrderLines)
                {
                    <tr>
                        <td>@product.ProductCode</td>
                        <td>@product.ProductDescription</td>
                        <td>@product.Quantity</td>
                        <td>@product.Quantity</td>
                        <td>
                            <span class="btn btn-info packOrderButton">
                                <span class="glyphicon glyphicon-arrow-right"></span> Paketle
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-xs-6" id="packingListDiv">
        <h2>Paketleme Listesi</h2>
        @using (Html.BeginForm("SavePacking", "Packing", FormMethod.Post, new { data_erkosms_role = "ajax-form", id = "PackingListForm" }))
        {
            <table id="packingList" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Palet No</th>
                        <th>Ölçüler</th>
                        <th>Miktar</th>
                        <th>KG</th>
                        <th>Brüt KG</th>
                        <th>Kod</th>
                        <th>Açıklama</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="1">1</td>
                        <td>1x2x3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>

<script>
    $(".packOrderButton").on("click",
        function (e) {
            e.preventDefault();
            var productRowToBePacked = $(this).closest('tr')[0];
            var productCode = productRowToBePacked.cells[0].innerText;
            ERKOSMS.GetAjaxDialog("Packing/PackProduct?productCode=" + productCode, {}, false).then(function () {
            }), function (data) {
                ERKOSMS.ShowWarning(data);
            }
        });
    $(document).off("click", "#addProductToPallet").on("click", "#addProductToPallet",
        function (e) {

            var palletId = $("#palletDropdown")[0].selectedOptions[0].value;
            // TODO: LOWER THE AMOUNT FROM LEFT TABLE
            var element = FindPalletRowById(palletId); //TODO: Right a function instead. For finding the correct td with exact text.
            if (element) {
                element.find("td:first")[0].rowSpan = `${parseInt(element.find("td:first")[0].rowSpan) + 1}`;
                element.after("<tr><td>Dimensions</td><td>Amount</td><td>...</td><td>...</td><td>...</td><td>...</td></tr>");
            } else {
                $("#packingList tbody").append(`<tr><td>${palletId}</td><td>Dimensions</td><td>Amount</td><td>...</td><td>...</td><td>...</td><td>...</td></tr>`);
            }
            var tg = $(e.currentTarget);
            closeParentVexModal(tg);
        });

    var FindPalletRowById = function (id) {
        var row;
        $("#packingList tr").each(function () {
            if($(this).find('td').eq(0).text() === id) {
                row = $(this);
                return false;
            }
        });
        return row;
    }
</script>
