@{
    ViewBag.Title = "Müşteri İstatistikleri";
}

<h2>@ViewBag.Title</h2>

<div id="listPurchaseDiv" style="display: block;margin-top:20px;">


    @*@Html.LabelFor(model => model.InvoiceDate)*@
    @*@Html.TextBox()*@
    <div class="row ">
        <div class="col-md-3 pull-left"> @Html.TextBox("StarDate", "", new { @class = "form-control datepicker", placeholder = "Sorgu Başlangıç Tarihi",id="startDate" })</div>
        <div class="col-md-3">@Html.TextBox("EndDate", "", new { @class = "form-control datepicker", placeholder = "Sorgu Bitiş Tarihi",id="endDate" })</div>
        <div class="col-md-3"><input type="button" id="searchButton" style="height:34px" value="Sorgula" /></div>

    </div>

</div>


<div id="customerHitListTableDiv" style="margin-top:20px;">
    <table id="customerHitListTable" class="table table-bordered table-condensed table-hover table-responsive table-striped"></table>
</div>

<script>

    var destroyTable = function () {
        var tb = $("#customerHitListTable");

        if ($.fn.dataTable.isDataTable(tb))
            tb.DataTable().destroy();

        tb.empty();
    };


    var createCustomerHitListTable = function (data) {
        var tb = $("#customerHitListTable");
        var datatable = tb.DataTable({
            autoWidth: true,
            columns: [
                { title: "Müşteri Adı", data: "CustomerName" },
                { title: "Tamamlanan Toplam Satış", data: "TotalCompletedOrderNumber" },
                { title: "Tamamlanan Toplam Satış Getirisi (TL)", data: "TotalCompletedOrderIncomeTL" },
                { title: "Tamamlanan Toplam Satış Getirisi (Euro)", data: "TotalCompletedOrderIncomeEuro" },
                { title: "Tamamlanan Toplam Satış Getirisi (Dollar)", data: "TotalCompletedOrderIncomeDollar" },
                { title: "Devam Eden Satış Sayısı", data: "TotalOngoingOrderNumber" },
                { title: "Devam Eden Satış Getirisi (TL)", data: "TotalOngoingOrderIncomeTL" },
                { title: "Devam Eden Satış Getirisi (Euro)", data: "TotalOngoingOrderIncomeEuro" },
                { title: "Devam Eden Satış Getirisi (Dollar)", data: "TotalOngoingOrderIncomeDollar" },

            ],
            data: data,
            sDom: '<"top"lif<"clear">>rt<"bottom"ip<"clear">>',
            aaSorting: [],      // Initial sorting
            bInfo: true,       // Info is not shown because the total count to show is not known
            searching: true,   // Disable searching TODO: Enable searching if necessary
            paging: true, // Disable paging in outstanding
            pageLength: 50,
            deferRender: true
        });
    }


    $(function () {
        $('.datepicker').datepicker({ dateFormat: 'dd.mm.yy' }); //Initialise any date pickers
    });


    $("#searchButton").on("click", function () {

        var startDate = window.moment($("#startDate").val(),"DD.MM.YYYY").format("YYYY-MM-DD");
        var endDate = window.moment($("#endDate").val(),"DD.MM.YYYY").format("YYYY-MM-DD");

        ERKOSMS.AjaxAction("GetCustomerStatistics?startdate=" + startDate + "&enddate=" + endDate, {}, false).then(function (data) {
            destroyTable();
            createCustomerHitListTable(data);
        });
    });


</script>